<!doctype html>
<html>
	<head>
		<title>Abstract Extract</title>
	</head>
	<body>
		<form action="/" method="post">
			<textarea name="article"><%= input %></textarea>
			<input type="submit" value="Submit">
		</form>
		<textarea><%= abstract %></textarea>
	</body>
</html>
